<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Contacts</ion-title>
</ion-navbar>

<ion-content>
  <searchbar></searchbar>

  <ion-list>
    <button ion-item *ngFor="#contact of contacts" (click)="itemTapped($event, contact)">
      {{contact.lastname}}, {{contact.firstname}} {{contact.email}}  - {{contact.position}}
      <div class="item-note" item-right>
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
