<ion-navbar *navbar>
    <button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Job Details</ion-title>
</ion-navbar>

<ion-content padding>
    <div *ngIf="selectedItem" class="job">
        <b>{{selectedItem.title}}</b>
        <ion-icon name="{{selectedItem.icon}}"></ion-icon>
        <div>
            {{selectedItem.description}}
        </div>
        <div ion-item *ngFor="#skill of selectedItem.skillsetsneeded">
          {{skill.name}}
        </div>
    </div>
</ion-content>
